<?xml version="1.0" encoding="UTF-8" ?>
<go-plugin id="docker-step" version="1">
  <about>
    <name>Docker Step</name>
    <version>${project.version}</version>
    <description>Task plugin for running commands inside a docker container</description>
    <target-go-version>17.3</target-go-version>
    <vendor>
      <name>Harald Nordgård-Hansen</name>
      <url>www.nordgard-hansen.net</url>
    </vendor>
  </about>
</go-plugin>
