<div class="form_item_block">
  <label>Image:</label>
  <input type="text" ng-model="image" ng-required="true" />
  <span class="form_error" ng-show="GOINPUTNAME[image].$error.server">{{GOINPUTNAME[IMAGE].$error.server }}</span>
</div>
<div class="form_item_block">
  <label>Pull images:</label>
  <input type="checkbox" ng-model="pull" ng-required="false" />
</div>
<div class="form_item_block">
  <label>Commands:</label>
  <textarea ng-model="commands" ng-required="true" cols="50" rows="5" placeholder="Enter each command on a new line"></textarea>
  <span class="form_error" ng-show="GOINPUTNAME[commands].$error.server">{{ GOINPUTNAME[commands].$error.server }}</span>
</div>
<div class="form_item_block">
  <label>Services:</label>
  <textarea ng-model="services" ng-required="false" cols="50" rows="5" placeholder="Enter service_name;image, one per line"></textarea>
</div>
